@import "../../../../styles/mixins";

.app__buy-and-sell {
  padding: 14px 10px 58px 10px;
  height: fit-content;
  position: sticky;
  top: 8px;

  @include tablet {
    position: fixed;
    z-index: 3;
    right: 8px;
    opacity: 0;
    pointer-events: none;
    height: calc(100% - 16px);

    &__bottom-sheet-overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
      top: 0;
      left: 0;
    }

    &.show {
      opacity: 1;
      pointer-events: unset;
    }
  }

  &__secondary-tabs {
    display: flex;
    gap: 8px;
    margin: 18px 0 16px 0;

    button {
      padding: 6px 12px;
      color: var(--dark-mode-tint3);
      font-size: 14px;

      &.active {
        background-color: var(--dark-mode-tint2);
        border-radius: 100px;
        color: var(--dark-mode-text);
        font-weight: 500;
      }
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-mode-tint3);
    font-size: 12px;
    padding: 16px 0;
  }

  &__total-available {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;

    &:first-of-type {
      border-top: 1px solid var(--dark-mode-border);
      margin: 16px 0 0 0;
    }

    &:last-child {
      margin-bottom: 32px;
    }

    &__key {
      color: var(--dark-mode-tint3);
      font-size: 12px;
      margin-bottom: 8px;
      min-width: 80px;
      display: flex;
    }

    &__value {
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__mobile-btns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background: var(--dark-mode-card-bg);
    border: 1px solid var(--dark-mode-card-stroke);
    z-index: 10;
    opacity: 0;
    pointer-events: none;

    @include tablet {
      opacity: 1;
      pointer-events: unset;
    }

    button {
      padding-right: 71px;
      padding-left: 71px;
      font-size: 16px;
    }
  }
}
